---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { Project } from "../consts/projects";

interface Props {
  project: Project
}

const { project } = Astro.props;
---

<div id="project_card" class="flex flex-col gap-2 bg-secondary px-2 py-2 z-40 rounded-lg w-[320px] md:w-[350px] lg:w-[380px] bg-[url('/noise_light.png')] transition-transform duration-500">
    <div class="flex flex-row justify-between items-center gap-5">
        <h2 class="text-lg text-oswald font-bold text-primary md:text-xl">{project.name}</h2>
        <div class="flex flex-row items-center gap-2">
            {
            project.figma 
              && <a href={project.figma} target="_blank" class="w-9 h-9 md:w-10 md:h-10 rounded-full bg-primary grid items-center justify-center">
                <Icon name="figma" class="h-5 w-5 md:h-6 md:w-6 hover:scale-110 transition-transform duration-200"/>
            </a>
            }
            <a href={project.github} target="_blank" class="group w-9 h-9 md:w-10 md:h-10 rounded-full bg-primary grid items-center justify-center">
                <Icon name="github_outline" class="h-5 w-5 md:h-6 md:w-6 hover:scale-110 transition-transform duration-200"/>
            </a>
            <a href={project.website} target="_blank" class="w-9 h-9 md:w-10 md:h-10 rounded-full bg-primary grid items-center justify-center">
                <Icon name="live_project" class="h-4 w-4 md:h-5 md:w-5 hover:scale-110 transition-transform duration-200"/>
            </a>
        </div>
    </div>
    <Image 
        src={project.img}
        alt="space tourism"
        width="900"
        height="700"
        class="w-full h-[200px] object-cover rounded"
    />
    <div id="tech" class="absolute flex flex-row flex-wrap gap-3 left-0 py-5 px-2 translate-y-7 w-full -z-10 bg-secondary bg-[url('/noise_light.png')] rounded-b-lg text-primary transition-transform duration-500">
        {
          project.tech.map((tech) => (
            <span class="border rounded text-xs font-montserrat font-bold px-2 py-1 border-primary md:text-sm">{tech}</span>
          ))
        }
    </div>
</div>
